*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.main{
    /* border: 1px solid red; */
    height: 100vh;
    width: 100%;


}
.heading-container{
    /* border: 1px solid green; */
    height: 30vh;
    width: 99%;
    text-align: center;
    margin-left: 6px;
    justify-content: center;
    margin-top: 7px;
    background: #1e3a8a;
    display: flow-root;

}
.heading-txt{
    text-align: center;
    margin-top: 30px;
}
h1{
    /* margin-top: 40px; */
    font-size: 55px;
    color: white;
    font-weight: 700;
}
.heading-txt .txt2{
    margin-top: 60px;
    color: white;
    font-size: 16px;
}.heading-txt .txt2 h3{
    margin-top: 12px;
}
#about{
    margin: 30px;
    /* border: 1px solid black; */
    height: 100vh;

}
#about h2{
    color: #1e3a8a;
    font-size: 30px;
    unicode-bidi: isolate;
}
.line{
    margin-top: 4px;
    height: 3px;
    border: 2px solid #3959b1;
}
#about p{
    color: rgb(0, 0, 0);
    font-size: 17px;
}

img{
    height: 450px;
    border-radius: 10px;
    border: 5px solid #80b2d8;
    margin-left: 350px;
    margin-top: 40px;
}#link{
    margin-top: 45px;
    /* margin-left: 2px; */
    font-size: 12px;
}
#link a{
    color: #2563eb;
}
.event{
    /* border: 3px solid green; */
    height: 200vh;
    margin: 30px;
}
.event h2{
    color: #1e3a8a;
    font-size: 30px;
    /* font-weight: 800; */
    unicode-bidi: isolate;
}
.event h3{
    color:#2563eb;
    font-size: 22px;
}
.event ul{
    margin-left: 50px;
    font-size: 19px;
}
.event ul li{
    margin-top: 11px;
    
}
li::marker{
    color: #3959b1;
    
}
.secndul{
    list-style: number;
}
table{
    width: 100%;
    height: 60vh;
   border: none;
}
tbody{
    border-collapse: collapse;
    
    
}
th{
    height: 50px;
    background-color: #1e3a8a;
    color: rgb(255, 254, 252);
    

}
td{
    text-align: center;
    background: #eff1f2;
    border: none;
}

.inform{
    margin-top: 24px;
    /* border: 2px solid blueviolet; */
    height: 120vh;
    border-radius: 12px;
    background-color: rgba(0, 149, 255, 0.1);
    display: flow-root;
}
.info{
    margin: 30px;
}


label{
    color: #1e3a8a;
    font-size: 19px;
    font-weight: bold;
    /* font-weight: 800; */
    unicode-bidi: isolate;
    margin-left: 10px;
    margin-top: 10px;
    
}
#username{
    height: 50px;
    width: 100%;
    margin-top: 8px;
    margin-left: 10px;
    /* background-color: rgb(124, 206, 206); */
    border: none;
    border: 1px solid black;
    border-radius: 4px;
    padding: 10px 15px;
    
}
#username::placeholder{
    color: #423f3f;
    margin-left: 300px;
    font-size: 16px;
    margin-left: 10px;
    /* text-align: center; */

}
#email{
    height: 50px;
    width: 100%;
    margin-top: 8px;
    margin-left: 10px;
    /* background-color: rgb(124, 206, 206); */
    border: none;
    border: 1px solid black;
    border-radius: 4px;
    padding: 10px 15px;
    
}
#email::placeholder{
    color: #423f3f;
    margin-left: 300px;
    font-size: 16px;
    margin-left: 10px;
    /* text-align: center; */

}
#number{
        height: 50px;
    width: 100%;
    margin-top: 8px;
    margin-left: 10px;
    /* background-color: rgb(124, 206, 206); */
    border: none;
    border: 1px solid black;
    border-radius: 4px;
    padding: 10px 15px;
}
#gen{
    margin-left: 20px;
    margin-top: 10px;
}
#course{
            height: 50px;
    width: 100%;
    margin-top: 8px;
    margin-left: 10px;
    /* background-color: rgb(124, 206, 206); */
    border: none;
    border: 1px solid black;
    border-radius: 4px;
    padding: 10px 15px;
}
#year{
            height: 50px;
    width: 100%;
    margin-top: 8px;
    margin-left: 10px;
    /* background-color: rgb(124, 206, 206); */
    border: none;
    border: 1px solid black;
    border-radius: 4px;
    padding: 10px 15px;
}
#event{
            height: 50px;
    width: 100%;
    margin-top: 8px;
    margin-left: 10px;
    /* background-color: rgb(124, 206, 206); */
    border: none;
    border: 1px solid black;
    border-radius: 4px;
    padding: 10px 15px;
}
#Address{
            height: 50px;
    width: 100%;
    margin-top: 8px;
    margin-left: 10px;
    /* background-color: rgb(124, 206, 206); */
    border: none;
    border: 1px solid black;
    border-radius: 4px;
    padding: 10px 15px;
}
#Address::placeholder{
        color: #423f3f;
    margin-left: 300px;
    font-size: 16px;
    margin-left: 10px;
}
#comments{
            height: 50px;
    width: 100%;
    margin-top: 8px;
    margin-left: 10px;
    /* background-color: rgb(124, 206, 206); */
    border: none;
    border: 1px solid black;
    border-radius: 4px;
    padding: 10px 15px;
}
#comments::placeholder{
    color: #423f3f;
    margin-left: 300px;
    font-size: 16px;
    margin-left: 10px;
}
.button{
    /* border: 10px solid green; */
    height: 100px;
    width: 550px;
    margin-left: 10px;
    margin-top: 10px;
}
.button button{
    height: 50px;
    width: 180px;
border-radius: 10px;
margin-left: 5px;
border: none;

}
#submit{
    background: #2563eb;
    font-size: 19px;
    color: white;
    font-weight: bold;
}
#Reset{
    background: #333435;
    font-size: 19px;
    color: white;
    font-weight: bold;
}